.fotos img {
    width: 300px;     /* Cambia este valor como quieras */
    height: auto;     /* Mantiene proporciones originales */
    border-radius: 10px; /* opcional, bordes redondeados */
    
  }
  .fotos {
    display: flex;           /* coloca imagen y texto en una fila */
    align-items: center;     /* alinea verticalmente */
    gap: 20px;               /* espacio entre imagen y texto */
    max-width: 900px;        /* ancho máximo */
    margin: 0 auto;          /* centrar */
}

.fotos img {
    width: 200px;            /* tamaño de la imagen */
    height: auto;
    border-radius: 8px;
}

.fotos p {
    text-align: justify;     /* texto justificado */
    flex: 1.5;                  /* ocupa el resto del espacio */
}



@media (max-width: 500px) {
    .fotos img {
    max-width: 100%;  /* Nunca más grande que su contenedor */
    height: auto;
      }

  }