:root {
    --color-banner: #2c0452; 
    --color-texto-banner: rgb(255, 254, 254);
    --color-texto: #333333;
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --fuente-principal:'Angelface' Arial, sans-serif;
    
    
  }
  
  body {
    margin: 0;
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    background-color: #f1f7a5dc;
  }
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
    
  }
  p{
    text-align:justify ;
  }
  
  /* Banner */
  .banner {
    background-color: var(--color-banner);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--color-texto-banner);
  }

  
  /* Logo */
  .logo {
    height: 200px;
    width: auto;
  }
  
  /* Contenido */
  .contenido {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
  }
  
  .texto {
    max-width: 300px;
  }
  
  .imagenes {
    display: flex;
    gap: 10px;
  }
  
  .imagenes img {
    width: 200px;
    height: auto;

  }
  
  /* Botones de contacto */
  .contacto {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .contacto a {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn-whatsapp { background-color: var(--color-whatsapp); }
  .btn-facebook { background-color: var(--color-facebook); }
  
  /* Responsive */

  @media (max-width: 500px) {
    .banner h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  
  