:root {
    --color-banner: #dbbbeec0; 
    --color-texto-banner: rgb(0, 0, 0);
    --color-texto: #333333;
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --tipo-letra:'Angelface' Arial, sans-serif;
    --color-menu:#f5e7b2eb;
    --tamaño-texto:1.1rem;
    
  }
  
  body {
    margin: 0;
    font-family: var(--tipo-letra);
    color: var(--color-texto);
    background-color: #f7f7f7dc;
  }
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
    
  }
  p{
    text-align:justify ;
    font-size: var(--tamaño-texto);
  }
  
  /* Banner */
  .banner {
    background-color: var(--color-banner);
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--color-texto-banner);
  }

  
  /* Logo */
  .logo {
    height: 150px;
    width: auto;
  }

/* Botón Menú */
.menu-toggle {
    position: fixed;
    top: 15px;
    right: 30px;
    font-size: 24px;
    size: var(--fuente-principal);
    color: var(--color-texto);
    cursor: pointer;
    z-index: 2000;
}

/* Menú lateral */
.menu {
    position: fixed;
    top: 0;
    right: -220px;
    width: 150px;
    height: 50%;
    background-color: var(--color-menu);
    color: var(--color-menu-texto);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1500;
}
.direcion{

}

.menu a {
    color: var(--color-menu-texto);
    text-decoration: none;
    padding: 15px 50px;
    width: 50%;
    display: block;
}

.menu a:hover {
    background-color: rgba(10, 10, 10, 0.1);
}

/* Estado activo */
.menu.activo {
    right: 0;
}

/* Contenido */
.contenido {
  padding: 20px;
  max-width: 900px;   /* ancho máximo en PC */
  margin: 0 auto;     /* centra horizontalmente */
  text-align: justify;
}

.texto {
  max-width: 100%;
}

.imagenes {
  display: flex;
  justify-content: center; /* centra imágenes */
  gap: 10px;
  flex-wrap: wrap;
}

.imagenes img {
  width: 250px;
  height: auto;
}

  
  /* Botones de contacto */
  .contacto {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .contacto a {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  

  
  /* Responsive */

  @media (max-width: 500px) {
    .banner h1 {
      font-size: 3rem;
      text-align: centerle;
    }
    .menu{
        right: -220px;
    width: 150px;
    height: 30%;
    }
    .menu a {
      color: var(--color-menu-texto);
      text-decoration: none;
      padding: 15px 50px;
      width: 50%;
      display: block;
  }

  }
  
  